<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Highland Elementary PTA Notification</title>
</head>

<body style="margin: 0 0 0 0; background-color: #ffffff;" >
<div id="wrapper" align="center" style="margin:0 auto; background-color:#ffffff;">
<table id="wrapper" width="650" border="0" cellspacing="0" cellpadding="0">
<!-- header -->
<tr>
    <td width="650">
    <a href="http://highlandpta.org">
        <img src="http://highlandpta.org/static/images/pta-header-sm.png" width="650"
              alt="Highland Elementary PTA" border="0" style="display:block"></a>
     </td>
</tr>
<!-- end header -->


<tr>  <!-- breaker row-->
    <td width="650">
        <img src="http://highlandpta.org/static/email-spacer.gif" width="650">
    </td>
</tr>

<tr> <!-- content -->
    <td width="650" style="border-left: 1px solid gray; border-right: 1px solid gray; padding:10px; font-family:Tahoma, Geneva, sans-serif; color:#780202">
        <p style="font-size:30px; color:#780202; text-align:center;">Thank You!</p>
		<p>Hello  {{person_name}},</p>
		<p>You have signed up to be on the {{committee_name}} at  Highland Elementary.
		You will be contacted soon by a member of the PTA.
		</p>
		<br>
		<p>Thank you for your support,</p>
		<p>- Highland PTA </p>
		</p>
    </td>
</tr>

<tr>  <!-- breaker row-->
    <td width="650">
        <img src="http://highlandpta.org/static/email-spacer.gif" width="650">
    </td>
</tr>

<!-- end content row -->
</table><!--end #wrapper-->
</div>

