{% extends 'base-two-col.html' %}
{% load tag_lib %}
{% block left_side %}
		<span class="title">On Going Fundraisers</span>
		<div class="news">
			<ul id="event_list" class="highlight">
			<li>
			<a href="http://www.marcos.com/locations/oh/stow/darrow-road?s=true"
				target="_blank"><img class="highlight-image" src="/static/images/MarcosLogo.png"/></a></li>
			<li>Order from Marco's Pizza Online any night of the week and select Highland Elementary from the school challenge sidebar for Highland to get credit in the challenge.</li>
		</div>
		<div class="news">
			<ul id="event_list" class="highlight">
			<li>
			<a href="http://www.boxtops4education.com/"
				target="_blank"><img class="highlight-image" src="/static/images/boxtopslogo.png"/></a></li>
			<li> Clip the BoxTop from a product package and send them into school with your child.
				Each BoxTop is worth 10&#162; for our school.</li>
                        <li>Save those box tops over the summer.  You can send them in with your child when school starts!</li>
		</div>
		<!--
		<div class="news">
			<ul id="event_list" class="highlight">
			<li>
			<a href="http://www.acmestores.com/community-cash-back/"
 				target="_blank"><img class="highlight-image" src="/static/images/acme-logo.png" border='0'/></a></li>
                        <li>Acme Community Cashback!
			Turn in your receipts dated Aug 20, 2015 to Jan 6th, 2016,
				to the school support basket on the wall across from the office.
				Highland will get a check for 5% of the total Community Cashback collected between those times.</li>
		</div>
		-->
{% endblock %}

{% block right_side %}
		<div class="news">
			<p>We are not running any summer fundraisers. But, the Marco's Pizza
				Challenge will continue in the fall.</p>
			<p>And don't forget to hold on to those box tops!  We will collect them
				again next school year.</p>
			<p>Thank you for your support!</p>
		</div>
                <!--
		<hr>
		<div class="news">
			<img class="news_image" src="/static/images/MarcosLogo.png">
			<p>The Marco's Pizza Challenge is back!
                        <br><br>
			Wednesday, September 2nd will be our first Marco's night of this school year.
				You may continue to
			 <a href="http://www.marcos.com/locations/oh/stow/darrow-road?s=true" target="_blank">order online</a>
				and earn points for our school.
				NEW this year, you can order in person or over the phone and our school will earn half the points.
				Either way, our kids win!
                        <br><br>
			Thanks to all of you who have ordered Marco's pizza during last year's challenge.
			Our school came in 2nd place in the regional competition and was awarded $5000.00 from Marco's!
			</p>
		</div>
		-->

{% endblock %}
